
      <nav class="nav">


<ul class="g">

  <a href="/home"><li>Home</li></a>

  <a href="/rent"><li>Rent</li></a>
  <a href="/about"><li>About</li></a>
  <a href="/login"><li>Login</li></a>
  <a href="/cart"><li>cart</li></a>
  <a href="/contact"><li>Contact</li></a>
</ul>


      </nav>
